HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/ReservationSystemWebService/ReservationSystemWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="ReservationSystemWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/ReservationSystemWebService/ReservationSystemWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="viewPartnerReservationDetails">
<part name="parameters" element="tns:viewPartnerReservationDetails"/>
</message>
<message name="viewPartnerReservationDetailsResponse">
<part name="parameters" element="tns:viewPartnerReservationDetailsResponse"/>
</message>
<message name="calculateRateForRoomType">
<part name="parameters" element="tns:calculateRateForRoomType"/>
</message>
<message name="calculateRateForRoomTypeResponse">
<part name="parameters" element="tns:calculateRateForRoomTypeResponse"/>
</message>
<message name="viewAllPartnerReservations">
<part name="parameters" element="tns:viewAllPartnerReservations"/>
</message>
<message name="viewAllPartnerReservationsResponse">
<part name="parameters" element="tns:viewAllPartnerReservationsResponse"/>
</message>
<message name="searchAvailableRooms">
<part name="parameters" element="tns:searchAvailableRooms"/>
</message>
<message name="searchAvailableRoomsResponse">
<part name="parameters" element="tns:searchAvailableRoomsResponse"/>
</message>
<message name="getPublishedRateForRoomType">
<part name="parameters" element="tns:getPublishedRateForRoomType"/>
</message>
<message name="getPublishedRateForRoomTypeResponse">
<part name="parameters" element="tns:getPublishedRateForRoomTypeResponse"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="getRoomById">
<part name="parameters" element="tns:getRoomById"/>
</message>
<message name="getRoomByIdResponse">
<part name="parameters" element="tns:getRoomByIdResponse"/>
</message>
<message name="RoomNotFoundException">
<part name="fault" element="tns:RoomNotFoundException"/>
</message>
<message name="reserveRooms">
<part name="parameters" element="tns:reserveRooms"/>
</message>
<message name="reserveRoomsResponse">
<part name="parameters" element="tns:reserveRoomsResponse"/>
</message>
<portType name="ReservationSystemWebService">
<operation name="viewPartnerReservationDetails">
<input wsam:Action="http://ws.session.ejb/ReservationSystemWebService/viewPartnerReservationDetailsRequest" message="tns:viewPartnerReservationDetails"/>
<output wsam:Action="http://ws.session.ejb/ReservationSystemWebService/viewPartnerReservationDetailsResponse" message="tns:viewPartnerReservationDetailsResponse"/>
</operation>
<operation name="calculateRateForRoomType">
<input wsam:Action="http://ws.session.ejb/ReservationSystemWebService/calculateRateForRoomTypeRequest" message="tns:calculateRateForRoomType"/>
<output wsam:Action="http://ws.session.ejb/ReservationSystemWebService/calculateRateForRoomTypeResponse" message="tns:calculateRateForRoomTypeResponse"/>
</operation>
<operation name="viewAllPartnerReservations">
<input wsam:Action="http://ws.session.ejb/ReservationSystemWebService/viewAllPartnerReservationsRequest" message="tns:viewAllPartnerReservations"/>
<output wsam:Action="http://ws.session.ejb/ReservationSystemWebService/viewAllPartnerReservationsResponse" message="tns:viewAllPartnerReservationsResponse"/>
</operation>
<operation name="searchAvailableRooms">
<input wsam:Action="http://ws.session.ejb/ReservationSystemWebService/searchAvailableRoomsRequest" message="tns:searchAvailableRooms"/>
<output wsam:Action="http://ws.session.ejb/ReservationSystemWebService/searchAvailableRoomsResponse" message="tns:searchAvailableRoomsResponse"/>
</operation>
<operation name="getPublishedRateForRoomType">
<input wsam:Action="http://ws.session.ejb/ReservationSystemWebService/getPublishedRateForRoomTypeRequest" message="tns:getPublishedRateForRoomType"/>
<output wsam:Action="http://ws.session.ejb/ReservationSystemWebService/getPublishedRateForRoomTypeResponse" message="tns:getPublishedRateForRoomTypeResponse"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/ReservationSystemWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/ReservationSystemWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/ReservationSystemWebService/partnerLogin/Fault/PartnerNotFoundException"/>
</operation>
<operation name="getRoomById">
<input wsam:Action="http://ws.session.ejb/ReservationSystemWebService/getRoomByIdRequest" message="tns:getRoomById"/>
<output wsam:Action="http://ws.session.ejb/ReservationSystemWebService/getRoomByIdResponse" message="tns:getRoomByIdResponse"/>
<fault message="tns:RoomNotFoundException" name="RoomNotFoundException" wsam:Action="http://ws.session.ejb/ReservationSystemWebService/getRoomById/Fault/RoomNotFoundException"/>
</operation>
<operation name="reserveRooms">
<input wsam:Action="http://ws.session.ejb/ReservationSystemWebService/reserveRoomsRequest" message="tns:reserveRooms"/>
<output wsam:Action="http://ws.session.ejb/ReservationSystemWebService/reserveRoomsResponse" message="tns:reserveRoomsResponse"/>
<fault message="tns:RoomNotFoundException" name="RoomNotFoundException" wsam:Action="http://ws.session.ejb/ReservationSystemWebService/reserveRooms/Fault/RoomNotFoundException"/>
</operation>
</portType>
<binding name="ReservationSystemWebServicePortBinding" type="tns:ReservationSystemWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="viewPartnerReservationDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateRateForRoomType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewAllPartnerReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchAvailableRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPublishedRateForRoomType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getRoomById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomNotFoundException">
<soap:fault name="RoomNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="reserveRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomNotFoundException">
<soap:fault name="RoomNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ReservationSystemWebService">
<port name="ReservationSystemWebServicePort" binding="tns:ReservationSystemWebServicePortBinding">
<soap:address location="http://localhost:8080/ReservationSystemWebService/ReservationSystemWebService"/>
</port>
</service>
</definitions>