HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/ReservationSystemWebService/ReservationSystemWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="PartnerNotFoundException" type="tns:PartnerNotFoundException"/>

<xs:element name="RoomNotFoundException" type="tns:RoomNotFoundException"/>

<xs:element name="calculateRateForRoomType" type="tns:calculateRateForRoomType"/>

<xs:element name="calculateRateForRoomTypeResponse" type="tns:calculateRateForRoomTypeResponse"/>

<xs:element name="getAllRoomTypes" type="tns:getAllRoomTypes"/>

<xs:element name="getAllRoomTypesResponse" type="tns:getAllRoomTypesResponse"/>

<xs:element name="getPublishedRateForRoomType" type="tns:getPublishedRateForRoomType"/>

<xs:element name="getPublishedRateForRoomTypeResponse" type="tns:getPublishedRateForRoomTypeResponse"/>

<xs:element name="getRoomById" type="tns:getRoomById"/>

<xs:element name="getRoomByIdResponse" type="tns:getRoomByIdResponse"/>

<xs:element name="partnerLogin" type="tns:partnerLogin"/>

<xs:element name="partnerLoginResponse" type="tns:partnerLoginResponse"/>

<xs:element name="reserveRoomType" type="tns:reserveRoomType"/>

<xs:element name="reserveRoomTypeResponse" type="tns:reserveRoomTypeResponse"/>

<xs:element name="searchAvailableRooms" type="tns:searchAvailableRooms"/>

<xs:element name="searchAvailableRoomsResponse" type="tns:searchAvailableRoomsResponse"/>

<xs:element name="viewAllPartnerReservations" type="tns:viewAllPartnerReservations"/>

<xs:element name="viewAllPartnerReservationsResponse" type="tns:viewAllPartnerReservationsResponse"/>

<xs:element name="viewPartnerReservationDetails" type="tns:viewPartnerReservationDetails"/>

<xs:element name="viewPartnerReservationDetailsResponse" type="tns:viewPartnerReservationDetailsResponse"/>

<xs:complexType name="viewPartnerReservationDetails">
<xs:sequence>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewPartnerReservationDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="checkInDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="guest" type="tns:guest" minOccurs="0"/>
<xs:element name="partner" type="tns:partner" minOccurs="0"/>
<xs:element name="reservationID" type="xs:long" minOccurs="0"/>
<xs:element name="room" type="tns:room" minOccurs="0"/>
<xs:element name="roomRate" type="tns:roomRate" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="status" type="tns:reservationStatusEnum" minOccurs="0"/>
<xs:element name="totalAmount" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guest">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="guestID" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="passportNumber" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partner">
<xs:sequence>
<xs:element name="partnerID" type="xs:long" minOccurs="0"/>
<xs:element name="partnerName" type="xs:string" minOccurs="0"/>
<xs:element name="partnerReservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="room">
<xs:sequence>
<xs:element name="floorNumber" type="xs:int"/>
<xs:element name="formattedRoomSequence" type="xs:string" minOccurs="0"/>
<xs:element name="roomID" type="xs:long" minOccurs="0"/>
<xs:element name="roomSequence" type="xs:int"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="status" type="tns:roomAvailabilityEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomType">
<xs:sequence>
<xs:element name="amenities" type="xs:string" minOccurs="0"/>
<xs:element name="bedType" type="xs:string" minOccurs="0"/>
<xs:element name="capacity" type="xs:int"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="tns:roomTypeEnum" minOccurs="0"/>
<xs:element name="priorityRanking" type="xs:int"/>
<xs:element name="roomRates" type="tns:roomRate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomTypeID" type="xs:long" minOccurs="0"/>
<xs:element name="rooms" type="tns:room" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="size" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomRate">
<xs:sequence>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="rateID" type="xs:long" minOccurs="0"/>
<xs:element name="ratePerNight" type="xs:decimal" minOccurs="0"/>
<xs:element name="rateType" type="tns:roomRateTypeEnum" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="status" type="tns:roomRateStatusEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllRoomTypes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllRoomTypesResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPublishedRateForRoomType">
<xs:sequence>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="checkInDate" type="xs:anySimpleType" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:anySimpleType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPublishedRateForRoomTypeResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomRate" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchAvailableRooms">
<xs:sequence>
<xs:element name="checkInDate" type="xs:anySimpleType" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:anySimpleType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchAvailableRoomsResponse">
<xs:sequence>
<xs:element name="return" type="tns:room" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserveRoomType">
<xs:sequence>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="roomTypeId" type="xs:long" minOccurs="0"/>
<xs:element name="checkInDate" type="xs:anySimpleType" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:anySimpleType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserveRoomTypeResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RoomNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomById">
<xs:sequence>
<xs:element name="roomId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:room" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllPartnerReservations">
<xs:sequence>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllPartnerReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLogin">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PartnerNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateRateForRoomType">
<xs:sequence>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="checkInDate" type="xs:anySimpleType" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:anySimpleType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateRateForRoomTypeResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="roomTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="DELUXE"/>
<xs:enumeration value="PREMIER"/>
<xs:enumeration value="FAMILY"/>
<xs:enumeration value="JUNIOR_SUITE"/>
<xs:enumeration value="GRAND_SUITE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="roomRateTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="PUBLISHED"/>
<xs:enumeration value="NORMAL"/>
<xs:enumeration value="PEAK"/>
<xs:enumeration value="PROMOTION"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="roomRateStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="ACTIVE"/>
<xs:enumeration value="DISABLED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="roomAvailabilityEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="AVAILABLE"/>
<xs:enumeration value="OCCUPIED"/>
<xs:enumeration value="DISABLED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="reservationStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="CHECKED_IN"/>
<xs:enumeration value="RESERVED"/>
<xs:enumeration value="ALLOCATED"/>
<xs:enumeration value="COMPLETED"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>